# ------------------------------------------------------------------------------
# file: .gitignore
# type: Git ignore
# project: sandwich
# purpose: Git ignore
# ------------------------------------------------------------------------------

/Debug/
